<div class="min-h-screen flex items-center justify-center bg-[#E9EEF4] px-4">

  <div class="bg-white w-full max-w-lg p-6 rounded-xl shadow-lg border border-gray-200">

    <!-- TITLE -->
    <h2 class="text-xl font-bold text-gray-800 mb-3 text-center">
      Open {{ accountType }} Account
    </h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">

      <!-- FULL NAME -->
      <div>
        <input
          type="text"
          placeholder="Full Name"
          formControlName="fullName"
          class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />

        <p class="text-red-500 text-xs mt-1"
           *ngIf="form.get('fullName')?.touched && form.get('fullName')?.invalid">
          Invalid full name
        </p>
      </div>


      <!-- EMAIL -->
      <div>
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />

        <p class="text-red-500 text-xs mt-1"
           *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          Enter a valid email
        </p>
      </div>


      <!-- AADHAAR -->
      <div>
        <input
          type="text"
          placeholder="Aadhaar Number"
          formControlName="aadhaarNumber"
          class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />

        <p class="text-red-500 text-xs mt-1"
           *ngIf="form.get('aadhaarNumber')?.touched && form.get('aadhaarNumber')?.invalid">
          Invalid Aadhaar
        </p>
      </div>


      <!-- PAN -->
      <div>
        <input
          type="text"
          placeholder="PAN Number"
          formControlName="panNumber"
          (input)="onPanInput()"
          class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />

        <p class="text-red-500 text-xs mt-1"
           *ngIf="form.get('panNumber')?.touched && form.get('panNumber')?.invalid">
          Invalid PAN
        </p>
      </div>


      <!-- DOB -->
      <div>
        <input
          type="date"
          formControlName="dob"
          class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />

        <p class="text-red-500 text-xs mt-1"
           *ngIf="form.get('dob')?.touched && form.get('dob')?.invalid">
          Must be 18+
        </p>
      </div>


      <!-- PHONE -->
      <div>
        <input
          type="text"
          placeholder="Phone Number"
          formControlName="phone"
          class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />

        <p class="text-red-500 text-xs mt-1"
           *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
          Invalid phone
        </p>
      </div>


      <!-- ADDRESS -->
      <div>
        <textarea
          placeholder="Address"
          formControlName="address"
          class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </textarea>

        <p class="text-red-500 text-xs mt-1"
           *ngIf="form.get('address')?.touched && form.get('address')?.invalid">
          Address required
        </p>
      </div>


      <!-- BUTTON -->
      <button
        type="submit"
        [disabled]="form.invalid"
        class="w-full py-2.5 rounded-md bg-[#1E40AF] text-white font-semibold hover:bg-[#3B82F6] transition shadow-md hover:shadow-lg">

        Submit for Approval

      </button>

    </form>

  </div>

</div>
